<ion-header>
  
</ion-header>

<ion-content>
  <div class="heading">
    <div class="btn_flex" >
      <div>
        <ion-buttons slot="start">
          <ion-menu-button mode="ios" color="dark"></ion-menu-button>
          <ion-label>Hard<span>worx</span><br><p>Produkte</p></ion-label>
        </ion-buttons>
      </div>
    </div>
  </div>
  <ion-slides>

    <ion-slide>
      <ion-card>
        <img src="../../assets/02_product_pictures/mac-book-pro-13.jpg" />
        <ion-card-header>
          <ion-card-subtitle>2.249,00 €</ion-card-subtitle>
          <ion-card-title>MAC BOOK PRO 13"</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul>
          <li>2,3 GHz Quad‑Core Intel Core i5 Prozessor der 8. Generation</li>
          <li>Turbo Boost bis zu 3,8 GHz</li>
          <li>Intel Iris Plus Graphics 655</li>
          <li>8 GB 2133 MHz LPDDR3 Arbeitsspeicher</li>
          <li>512 GB SSD Speicher1</li>
          <li>Retina Display mit True Tone</li>
          <li>Touch Bar und Touch ID</li>
          <li>Vier Thunderbolt 3 Anschlüsse</li>
        </ul>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../assets/02_product_pictures/dell-xps-15-9570.jpg" />
        <ion-card-header>
          <ion-card-subtitle>1.551,00 €</ion-card-subtitle>
          <ion-card-title>DELL XPS 15 9570</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <li>Intel® Core™ i7-8750H Prozessor (bis zu 4,1 GHz)</li>
            <li>39,6 cm (15,6") Full HD 16:9 LED Display (entspiegelt), Webcam</li>
            <li>8 GB RAM , 256 GB SSD, Fingerprint</li>
            <li>NVIDIA GeForce GTX 1050Ti Grafik (4096 MB), HDMI, Thunderbolt 3, USB 3</li>
            <li>Windows 10 Home 64 Bit, Akkulaufzeit bis 11 h, 1,8 kg</li>
          </ul>
          




        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="..\..\assets\02_product_pictures\microsoft-surface-pro-6.jpg" />
        <ion-card-header>
          <ion-card-subtitle>1.213,33 €</ion-card-subtitle>
          <ion-card-title>MICROSOFT SURFACE</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <li>Prozessor: Intel Core i5 Prozessoren der 8. Generation; Betriebssystem: Windows 10 Home</li>
            <li>Besonderheiten: 12,3 Zoll PixelSense Display; Auflösung: 2736 x 1824 pixel (267ppi); Seitenverhältnis: 3:2</li>
            <li>Akku: Bis zu 13,5 Stunden Akkulaufzeit</li>
            <li>Lieferumfang: Microsoft Surface Pro (12,3 Zoll) Notebook</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>




